body {
    font-family: verdana;
    margin: 0;
    padding: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(122deg,  #0f2027,#203a43,#2c5364);
    color: white; 
}

header {
    margin-top: 1vh;
    padding: 10;
    width: 100%;
    height: 10vh;
}

nav > p, nav > a {
    margin-left: 20px;
    padding-right: 30px;
    font-weight: bold;
    font-size: 30px;
    display: inline;
    justify-content: center;
}
nav > p:hover, .rightNav:hover {
    color: gold;
}
.rightNav {
    float: right;
    color: white;
}
a {
    text-decoration: none;
    color: gold;
}
article {
    text-align: center;
}

#cvArticle, #projectsArticle, #accountsArticle, #emailForm, #litReviewOne, #litReviewTwo {
    display: none;
}

#welcome {
    justify-content: center;
}

.welcomeText {
    margin-left: 30%;
    margin-right: 30%;
}
.articleText, ul {
    margin-left: 10%;
    margin-right: 10%;
}

.articleSelect {
    width: 50vw;
    height: 100px;
    margin: 10vh auto;
    border-style: solid;
    line-height: 100px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    background-color: white;
    border: 10px solid blue;
}


